[2013-03-20 19:59] mithro opened #1 "[HDMI2USB #6] Create EDID database website + scripts for EDID information recorded by HDMI2USB device"
https://github.com/timvideos/HDMI2USB/issues/6

[2013-03-20 20:02] mithro opened #2 "[HDMI2USB] Create a 3G-SDI extension board for HDMI2USB"
More technical details at
- [HDMI2USB-misoc-firmware #158](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/158)
- [HDMI2USB-jahanzeb-firmware #11](https://github.com/timvideos/HDMI2USB-jahanzeb-firmware/issues/11)
# Brief explanation

Add support for 3G Serial digital interface for the HDMI2USB.

This project will let us push and pull lots of data over a wider range of protocols / cabl

[2013-03-20 20:10] mithro opened #3 "[flumotion] Create a RTMP flumotion component"
# Brief explanation

Create a new flumotion component which lets you stream to existing RTMP services (such as YouTube or JustinTV).

Should support the following targets:
- Generic RTMP system - just give the system a URL of your RTMP streaming server.
- Adobe  Flash Media Server (and load a Flash Media Player profile xml)
  - http://help.adobe.com/en_US/flashmediaserver/devguide/WSd391de4d9c7bd6

[2013-03-20 20:12] mithro opened #4 "[streaming-system #4] Add bug / feedback reporting from end users system"
More technical details at [Streaming System #4](https://github.com/timvideos/streaming-system/issues/4)

# Brief Explanation

Create a website/webpage which records bug / feedback information from an **end user**. You can't assume that the users know anything about bugs reporting, their own system or the TimVideos streaming system.

## Expected results

The tools will collect details about the con

[2013-03-21 19:47] mithro opened #5 "[HDMI2USB] Add USB 3.0 support"
More technical details at;
-  [HDMI2USB-misoc-firmware#159](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/159)
- [HDMI2USB#83](https://github.com/timvideos/HDMI2USB/issues/83)
# Brief explanation

Add USB3.0 support to the HDMI2USB-misoc-firmware to allow high speed capture.
## Expected results

Able to capture video from a HDMI2USB device at USB3.0 speeds.
# Detailed Explanation

Th

[2013-03-21 19:51] mithro opened #6 "[HDMI2USB #14] Supporting Marvell Ethernet chip on Digilent board"
# Brief explanation

The Diligent Atlys board has a Marvell Gigabit Ethernet chip on it. It would be awesome if we could ship the video via this port rather then the USB.

## Expected results

 * Full functionality of the HDMI2USB is accessible via Ethernet interface, including;
   * Full video stream (equivalent to the UVC interface)
   * Control Interface (equivalent to the CDC serial port inter

[2013-03-21 19:59] mithro opened #7 "[HDMI2USB] HDMI Audio to USB Sound"
More technical details at
- [HDMI2USB-misoc-firmware #160](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/160)
- [HDMI2USB-jahanzeb-firmware #15](https://github.com/timvideos/HDMI2USB-jahanzeb-firmware/issues/15)
# Brief explanation

Push audio from HDMI to USB sound in the HDMI2USB project.
## Expected results

HDMI audio is captured on a computer connected to the HDMI2USB device.
#

[2013-04-03 13:16] mithro opened #8 "[gst-switch #21] Make gst-switch server scriptable via Python"
https://github.com/timvideos/gst-switch/issues/21

[2013-04-03 13:20] mithro opened #9 "[flumotion] Port Flumotion to the gstreamer-1.0 API"
# Brief explanation

TimVideos.us makes heavy usage of flumotion for the backend of the streaming system. Flumotion currently uses the gstreamer0.10 API which is now End of Lifed. We need to port it to the gstreamer-1.0 API.

## Expected results

 * Flumotion which runs on gstreamer-1.0
 * Comprehensive flumotion test suite.

# Detailed Explanation

**flumotion is written in Python and uses GStrea

[2013-04-03 13:22] mithro opened #10 "[HDMI2USB] Create a serial port extension board - Support both RS232 and RS485 modes."
# Brief explanation

Create a serial port extension board - Support both RS232 and RS485 modes

Should also have lots of blinking lights.

Firmware should be modified so that they appear as USB-CDC ports to the computer.
# Detailed Explanation

This can be achieved using SP331 transceiver.

The SP331 is a programmable RS-232 and/or RS-485 transceiver IC. The SP331 contains four drivers and four re

[2013-04-19 02:40] mithro opened #11 "[streaming-system] Create a mobile theme for the website"
# Brief explanation

Make the website responsive so it looks nice on mobile devices.

# Detailed Explanation

The website should have 2 "cards", one with the video, one with the chat. Along the bottom should be a marquee which scrolls twitter information. When going to the chat card the video should keep playing and the audio can still be heard.

Should support both iPod/iPad and Android ecosystem

[2013-04-20 05:27] lut23 opened #12 "[streaming-system] Streaming Web Site?"
Hi, so I was looking at your GSOC idea page and was interested in the Streaming Web Site portion of the flow chart but I couldn't really find much about it so I was wondering if I could get like a description about the site

[2014-02-05 02:21] micolous opened #13 "LKV373 HDMI framegrabber"
There's a HDMI extender device, [Lenkeng LKV373](http://www.lenkeng.biz/ProductDetails_HDMI+EXTENDER_61.html), which captures HDMI, and transcodes the video into MJPEG (much like HDMI2USB) and outputs the stream over multicast UDP.

They're designed to run as a pair of sender + receiver, but someone has reverse engineered the wire protocol, and written some notes on reverse engineering the units:

[2014-02-05 02:45] #13 closed, assigned to nobody

[2014-02-13 17:41] #8 closed, assigned to hyades

[2014-02-13 17:43] #1 closed, assigned to sewar

[2014-02-14 02:28] parx opened #14 "[HDMI2USB #32] MJPEG core optimisation"
More technical details at [HDMI2USB #32](http://github.com/timvideos/HDMI2USB/issues/38)

# Brief explanation

Optimisation of the MJPEG core in the HDMI2USB firmware to support full frame rate recording.

Current performance is roughly `720p@15fps` minimum requirement would be `720p@30fps`. We'd really like it to reach somewhere between `1080p@30Hz` --> `1080p@120Hz`.

Ideally these changes would

[2014-02-14 02:31] parx opened #15 "[gstreamer] Productionize/Update gstreamer dvswitch plugin"
# Brief explanation

The [dvswitch gstreamer plugin](https://github.com/timvideos/gst-plugins-dvswitch) is an important part of a migration scheme from dvswitch to newer technologies. This plugin could use a bunch of work to make it better.

Full list of outstanding issues with the plugin can be found at https://github.com/timvideos/gst-plugins-dvswitch/issues

## Expected results

 * Ideal -- gst

[2014-02-14 02:35] parx opened #16 "[Veyepar] JSON schedule output into website"
# Brief explanation

Zookeepr / Symposium (PyCon Website) JSON schedule output into website + veyepar

Feed validator!!!!
# Problem

The Steaming UI and Processing videos relies on the talk schedule.  This data is typically in the conference website.  There is sometimes an API available,
These APIs are not always accurate, example they may be missing the Keynote entries, or the start time is on a

[2014-02-14 02:39] parx opened #17 "[HDMI2USB] firmware auto-builder"
# Brief explanation

On every commit, fire up a EC2 instance, build the HDMI2USB firmware. (This will require work on the HDMI2USB build system too.) Should auto-commit the firmware to the HDMI2USB prebuild repository.

## Expected results

 * On every commit / pull request to https://github.com/timvideos/HDMI2USB creates new commit of build firmware in https://github.com/timvideos/HDMI2USB-firmwa

[2014-02-14 02:41] parx opened #18 "[HDMI2USB] Intelligent Auto Audio gain"
# Brief Explanation

HDMI2USB Intelligent Auto Audio gain

No sudden loud noises, max through power, min through power

# Contacts

* **Potential Mentors:** TimVideos Hardware Hackers team

[2014-02-14 03:24] parx opened #19 "[streaming-system] TimVideos.us website (viewing interface) improvements"
Some more details at [Streaming system Issue #42](https://github.com/timvideos/streaming-system/issues/42).
# Brief explanation

Make the timvideos.us website (the viewing interface for the streams) dynamically generated from a database rather then the config file. This will also include improving the frontend website.
## Expected results
- Updates to the [Frontend part](https://github.com/timvide

[2014-02-14 03:28] parx opened #20 "[streaming-system] Make the code.timvideos.us developer website awesome!"
# Brief explanation

code.timvideos.us is the first point of content for potential developers and users. It could use a lot of work to make it easier to use and more informative.

## Expected results

 * An awesome developer website at http://code.timvideos.us

# Detailed Explanation

code.timvideos.us is generated using [jekyll](http://jekyllrb.com/) and pushed to [GitHub Pages](http://pages.gith

[2014-02-14 03:28] iiie opened #21 "[streaming-system #56] Dockerize flumotion and support components"
More technical details at [Streaming System Issue #56](https://github.com/timvideos/streaming-system/issues/56)

# Brief explanation

The streaming system uses flumotion for streaming, we want to put it into a docker container to make distribution and bring up easy.

**This project is about making distribution and bring up easy, not about sandboxing / isolation.**

## Expected results

 * Docker i

[2014-02-14 03:43] iiie opened #22 "[Veyepar] Use avahi / zeroconfig to find our hosts on the network"
# Brief explanation

We'd like to worry about fewer things, who wouldn't.
If we're setting a room with a couple of computers to record a talk, we shouldn't have to configure the network, it should "just work".
Avahi makes this easy, farther away host take longer to respond.
Make a setup program that updates the configs for either DVSwitch or GSTSwitch.
## Expected results
# Detailed Explanation

A

[2014-02-14 04:14] iiie opened #23 "[gst-switch] Track the speaker! Zoom! Pan! Tilt!"
# Brief explanation

Create and test a system for keeping a camera focused on the action.

# Detailed Explanation

Make a tripod attachment that controls pan and tilt.

Track where the action is in a video stream, follow the action.  But don't make us seasick!

Make a controller for zoom.

# Contacts

 * **Potential Mentors:** TimVideos/Veyepar team

[2014-02-14 17:22] #12 closed, assigned to nobody

[2014-02-17 06:02] mithro opened #24 "[gstreamer] Create a gstreamer plugin for Lenkeng HDMI over IP extender"
# Brief explanation

Create a gstreamer plugin for sending and receiving from [Lenkeng LKV373](https://github.com/timvideos/HDMI2USB/wiki/Alternatives#wiki-ethernet-capture-devices) (and compatible) devices.

**You'll need to get a Lenkeng LKV373 as part of this project!**
## Expected results
- Two gstreamer plugins;
  - lkv373-sink -- Sends data from gstreamer to the output part of the device.

[2014-02-17 06:24] mithro opened #25 "[streaming-system] Automated build and configuration of full streaming system"
# Brief explanation

System to build and configure all of the machines needed to record and stream a multi track conference.

Full automated deployment of both the collecting infrastructure (parts inside a conference venue / user group venue) and the off site infrastructure (parts in the cloud).
## Expected results

Convert existing scripts and manual processes to a consistent and modular deployme

[2014-09-15 05:21] mithro opened #27 "[HDMI2USB] Port Dashio USB3.0 core to use FPGA high speed transceivers"
More technical details at;
-  [HDMI2USB-misoc-firmware#159](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/159)
- [HDMI2USB#83](https://github.com/timvideos/HDMI2USB/issues/83)
# Brief explanation

The aim of this project is to make it possible to use the "Dashio USB3.0 Core" which currently requires an external USB 3.0 transceiver such as the TUSB1310A to instead use the in built hig

[2014-12-22 06:57] ApsOps opened #28 "[streaming-system] Upgrade website to latest Django version"
# Brief explanation

The website built initially on Django 1.4 with some updates to 1.5, needs to be upgraded to latest Django version since it has migrations included, many security and other updates.

## Expected results

The website runs on latest Django version.

# Detailed Explanation

FIXME: A much longer description of what the thing you want to do.

## Further reading

 * [Django Web Frame

[2015-01-15 01:15] mithro commented on #24
@acooks and @lessdolphin - Take a look at the work here.

[2015-02-09 11:15] aps-sids commented on #4
@Niharika29 Please send a PR.

[2015-02-10 21:44] aps-sids commented on #15
@mithro What's left to be done here?

[2015-02-10 21:47] aps-sids commented on #28
@mithro Please add appropriate labels here. I don't have access permissions, I guess.

[2015-02-16 22:48] ApsOps opened #29 "[flumotion] Productionize Flumotion ported to Gstreamer-1.0 API"
# Brief explanation

[Flumotion](https://github.com/timvideos/flumotion) is an essential part of the TimVideos' [streaming-system](http://github.com/timvideos/streaming-system). It  was ported to newer Gstreamer-1.x API in a previous GSoC project. Some work needs to be done for updating and making it ready for use in production.

More technical details at https://github.com/timvideos/flumotion/iss

[2015-05-03 13:48] micolous commented on #16
Another speedhump with Zookeepr not outlined above is that different events tend to fork it every 12 months, work on it on their own, and then very occasionally merge back into master.  This makes tracking Zookeepr extremely hard, because each conference will change things in subtle ways.

There's a new effort (in the last few months) to reconcile these event specific forks back to ZK master, and

[2015-06-30 21:28] acornejo commented on #9
was this port finished?

[2015-07-01 01:28] mithro commented on #9
@aps-sids 's final report can be found at https://docs.google.com/document/d/1Pphn5EEBYE5YhY8B2EYUAqBOQ-Xgazfygv_G1I8VoRU/edit

From that report;

The document includes how to replicate his results.

[2015-07-01 05:58] aps-sids commented on #9
@acornejo Most of the components work. Issues are still there, some of which are filed here - https://github.com/aps-sids/flumotion-orig/issues

[2015-09-17 23:53] #20 closed

[2015-09-17 23:57] mithro commented on #15
I think this is done!

We didn't end up with any testing infrastructure and I'm unsure about the auto-reconnect but they should just be issues on the repositories now I think.

We now even have packages at https://launchpad.net/~timvideos/+archive/ubuntu/dvswitch and even heading into Debian thanks to @stefanor

[2015-09-17 23:57] #15 closed

[2015-09-17 23:58] mithro commented on #9
I'm closing this issue as @aps-sids said most components work now.

[2015-09-17 23:58] #9 closed

[2015-09-17 23:59] mithro commented on #14
@ajitmathew Did most of the work here. Closing this.

[2015-09-17 23:59] #14 closed

[2015-10-01 04:06] mithro commented on #6
This is supported in https://github.com/timvideos/HDMI2USB-misoc-firmware

[2015-10-01 04:06] #6 closed

[2016-02-03 00:20] mithro opened #30 "[hdmi2usb] Port Linux to the lm32 CPU and support HDMI2USB firmware functionality"
# Brief explanation

The HDMI2USB gateware currently includes a [lm32 soft core](https://en.wikipedia.org/wiki/LatticeMico32). The misoc version has an MMU and should support running a full Linux kernel.

## Expected results

Linux booting on the HDMI2USB gateware.

# Detailed Explanation

Work on this was started by the MilkyMist / M-Labs people.

## Further reading

 * https://en.wikipedia.org/w

[2016-02-04 02:33] mithro commented on #17
This project has been done and is deployed at https://github.com/timvideos/HDMI2USB-misoc-firmware (see https://travis-ci.org/timvideos/HDMI2USB-misoc-firmware and https://github.com/timvideos/HDMI2USB-firmware-prebuilt).

[2016-02-04 02:33] #17 closed

[2016-02-23 05:33] mithro opened #31 "[HDMI2USB] Rewrite the HDMI2USB JPEG Encoder in Migen/MiSoC"
# Brief explanation

The HDMI2USB firmware currently has a [JPEG encoder written in VHDL](https://github.com/timvideos/HDMI2USB-misoc-firmware/tree/master/gateware/encoder/vhdl). We would prefer it be written in [Migen / MiSoC](http://m-labs.hk/gateware.html) to allow better integration into the firmware.

## Expected results

The HDMI2USB MiSoC Firmware correctly generates JPEG output using new M

[2016-02-23 05:46] mithro opened #32 "[HDMI2USB #113] Allow HDMI2USB devices to act as HDMI extenders via the Gigabit Ethernet port"
More technical details at [HDMI2USB-misoc-firmware#133: Allow HDMI2USB devices to act as HDMI extenders via the Gigabit Ethernet port](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/133)

# Brief explanation

Allow two HDMI2USB devices which are connected by Gigabit Ethernet to stream video from one device to the other.

# Detailed Explanation

It should be possible to stream the pixe

[2016-02-23 06:05] mithro commented on #4
Ping?

[2016-02-23 06:05] #4 closed

[2016-02-23 06:13] #11 closed

[2016-02-23 06:14] #18 closed

[2016-02-23 06:14] #21 closed

[2016-02-23 06:16] mithro commented on #28
I believe this was done by @micolous?

[2016-02-23 06:16] #28 closed

[2016-02-23 06:16] #23 closed

[2016-02-23 09:30] Niharika29 commented on #4
Just saw, sorry. :(
I can send in a PR, but the app is not integrated with the existing tim-videos setup. It only adds a link at the bottom.

[2016-03-01 18:10] rahulroxx commented on #25
@mithro i would like to do this as my gsoc'16 project

[2016-03-01 18:58] T282 commented on #32
Do I need some hardware to work in this project?

[2016-03-07 12:15] mithro commented on #32
Yes. While a large amount can be done in simulation, eventually it will need to be tested on real hardware.

[2016-03-07 12:17] mithro commented on #25
Please read our Summer of Code page at https://code.timvideos.us/summer-of-code/, especially the FAQ section.

[2016-03-09 05:17] mithro opened #33 "[HDMI2USB] Get Milkymist "Video DJing" functionality on the Numato Opsis board"
# Get Milkymist "Video DJing" functionality on the Numato Opsis board

# Brief explanation

The Milkymist board provided a bunch of cool Video DJing output options (see following pictures), we want the same type of thing working on the Numato Opsis board.

![image](https://cloud.githubusercontent.com/assets/21212/13625984/8807de08-e611-11e5-8d8c-20462a75c1b2.png)

## Expected results

The Numato O

[2016-03-14 12:08] mithro opened #34 "[HDMI2USB] Add "hardware mixing" support to HDMI2USB firmware"
# [HDMI2USB-misoc-firmware #27] Add "hardware mixing" support to HDMI2USB firmware

More technical details at [following github issue](http://github.com/timvideos/HDMI2USB-misoc-firmware/issues/#27)

# Brief explanation

Add support for mixing multiple input sources (either HDMI or pattern) together and output via any of the outputs.

## Expected results

The firmware command line has the ability

[2016-03-20 13:14] bradlaboe commented on #33
I am more of an collaborator/artist enabler and am an EXTREMELY poor C coder (I am dyslexic and have struggled for long years to attempt be a programmer)... how ever I am a long time systems architect and admin for film and video production... I am working on an  FPGA real time image synth (and have been not very successfully for a while) I acquired the Atlys board in late 2014 but but the project

[2016-03-20 22:44] mithro commented on #33
The capture firmware already runs on both the Opsis and Atlys board, so you can already get started with the HDMI2USB firmware on your Atlys board. Features developed with MiSoC will be portable to the Opsis.

Thus, the first step would be to get the development environment set up, you should follow the instructions at https://github.com/timvideos/HDMI2USB-misoc-firmware/tree/master/scripts - once

[2016-03-21 02:53] bradlaboe commented on #33
Tim,
Created dev  system i5 4GB ram (will up to 8... sys max) 940 SSD running
Ubuntu14.04.1 64bit desk top Xilinx ISE 14.7 with ISE_WebPACK license

When I followed the recipe on the web page it failed to creat the build
directory... added the build directory by hand and worked the indicated
errors till the make gateware worked.... probably not worth documenting or
correcting as I should be one of

[2016-03-21 02:57] mithro commented on #33
Which instructions were you following? The ones I linked (https://github.com/timvideos/HDMI2USB-misoc-firmware/tree/master/scripts)? If so, please do report any issues with the instructions.

I'm unsure why you said that you think you will be the last to follow them? The plan is to add the functionality to this repository.

[2016-03-21 03:15] bradlaboe commented on #33
Tim ... sorry I aid that just because they do not make the board any more
sorry my bad... but that being said yes that was the script that I followed
and when I did the  make gateware it it didn't make the build directory in
the /HDMI2UB-misoc-frimware tree and erroered out after the  3rd operation
 saying that it failed to make the build directory. I added the directory
by hand it worked with 1 m

[2016-03-21 04:17] mithro commented on #33
We plan to support the Atlys board for at least another year or more. I'm pretty sure it will be worth continuing to support the Atlys board for as long as the Opsis board (which uses the same FPGA) is in use.

The Atlys was actually popular enough that after Digilent "discontinued it" they had to do another limited run of them. See https://store.digilentinc.com/atlys-spartan-6-fpga-trainer-board-

[2016-03-21 11:06] bradlaboe commented on #33
Tim,
Agreed and it will be easy to add the extra HDMI, SDI or VGA as the
hardware already exists.... which is why in 2014 when I started my project
is why I picked it... cost and all of the above is why I kept it a the
front end even though I got the Opsis.... got it  the VmodMIB with it's 4
extra input would be great to have working making this a 6 X 2 HD switcher.
-b

On Mon, Mar 21, 2016 at 12:

[2016-03-21 11:26] mithro commented on #33
We should get the VmodMIB working (there is a bug open at https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/31). I believe @enjoy-digital fried his Atlys board however?

I'm afraid you can't use all the extra VmodMIB connectors for extra HDMI inputs. The Spartan 6 only has 4 x Phase Lock Loops (PLL) and you need one 1 x PLL per HDMI input. You also need 1 x PLL for driving the memory and

[2016-03-21 14:34] bradlaboe commented on #33
So that makes that a 1 HDMI and many Pmod in... still worth while... right
now the budget is tapped so I will get the VmodMIB in a month or so when I
can afford it.
-B

On Mon, Mar 21, 2016 at 7:26 AM, Tim Ansell <notifications@github.com>
wrote:

[2016-03-22 03:18] bradlaboe commented on #33
Tim, I am having 2 problems ... no matter what I do input 0 is not detected
nor does it detect video not sure weather it is the board or the software
and in video mode 11 it will sync with any monitors.

-B

On Mon, Mar 21, 2016 at 10:34 AM, Bradley Laboe <bradlaboe@gmail.com> wrote:

[2016-03-22 14:27] bradlaboe commented on #33
Tim sorry I was tired last night... here's where I stand

1.) no matter what monitor I try mode 11 will not work from either output
port but all of the other modes work but with serious centering issues
2.) the input Labeled as input 1 can not accept in put and will not give
feed back to a source that is connected but the input labeled as input 0
works fine however the software thinks the numbers

[2016-03-23 02:09] mithro commented on #33
Regarding 1) and 2) - Are you using an Atlys board or an Opsis board?
 * The Atlys does have a lot of jumpers which need to be set correctly for things to work. Use `video_matrix list` command to get help on how they should be configured.
 * The Opsis board has some [compatibility issues](https://github.com/timvideos/HDMI2USB-numato-opsis-hardware/issues/50) we are currently working on. The curren

[2016-04-14 04:49] mithro opened #35 "WIP: [MiSoC] Add support for j2 (j-core) in MiSoC"
# [MiSoC] Add support for J2 (j-core.org) in MiSoC

# Brief explanation

MiSoC currently supports the lm32 and mor1k architectures. It would be nice if it also support the J2 open processor.

## Expected results

MiSoC is able to use the J2 core as an option when building SoC components.

# Detailed Explanation

## J2 open processor

This page describes the j-core processor, a clean-room open sour

[2016-04-14 04:57] mithro opened #36 "[LiteX] Finish support for RISC-V in LiteX"
# Brief explanation

LiteX currently supports the lm32 and mor1k architectures and has some preliminary support for RISC-V. It would be nice if it support the RISC-V architecture fully.

## Expected results

MiSoC is able to use a CPU core which supports the RISC-V architecture as an option when building SoC components.
# Detailed Explanation
## RISC-V

RISC-V (pronounced "risk-five") is a new ins

[2016-04-14 05:03] mithro opened #37 "[MiSoC] Add support for ZPU / ZPUino in MiSoC"
# Brief explanation

MiSoC currently supports the lm32 and mor1k architectures. It would be nice if it also support the ZPU  soft core (and the ZPUino peripherals).

## Expected results

MiSoC is able to use a CPU core which supports the ZPUino architecture as an option when building SoC components.

# Detailed Explanation

## ZPU - The Zylin ZPU

ZPUino is a SoC (System-on-a-Chip) based on Zylin'

[2016-07-26 23:03] lucribas commented on #7
Hi.
I have interest in collaborate.
Are you considering only code written in Migen/python or VHDL can be accept?

[2017-02-08 07:22] mithro commented on #27
@enjoy-digital is currently working on this. Closing it so students don't try and duplicate his work.

[2017-02-08 07:22] #27 closed

[2017-02-08 07:23] mithro commented on #5
@enjoy-digital Is working on stuff related to this, so closing it.

[2017-02-08 07:23] #5 closed

[2017-02-08 07:25] #3 closed

[2017-02-08 07:25] #29 closed

[2017-02-28 02:49] mithro opened #38 "[LiteX] Create a litescope based "Integrated Bit Error Ratio Tester" (iBERT) clone"
# [LiteX]  Create a litescope based "Integrated Bit Error Ratio Tester" (iBERT) clone

# Brief explanation

Xilinx has a [logicore](https://www.xilinx.com/ipcenter/ip_license/ip_licensing.htm) called iBERT for doing testing of error rates on high speed channels. The task is to create a similar tool based on LiteX and LiteScope.

## Expected results

What the expected outcome from the project shoul

[2017-02-28 05:44] mithro opened #39 "[LiteX] Create a generic debug interface for soft-CPU cores and connect to GDB"
# [LiteX] Create a generic debug interface for soft-CPU cores and connect to GDB

# Brief explanation

While doing software development being able to use gdb to find out what the CPU is doing is really useful. We would like that for LiteX's multiple soft-CPU implementations running both on real hardware in simulation.

## Expected results

GDB is able to control the soft-CPU implementations on bot

[2017-02-28 23:36] mithro opened #40 "[LiteX] Improve support for project IceStorm (Lattice ICE40 + OpenFPGA toolchain)"
# [LiteX] Improve support for project IceStorm (Lattice ICE40 + OpenFPGA toolchain)

# Brief explanation

The first fully FOSS toolchain for FPGA development targets the Lattice ICE40 FPGA. LiteX has some support for this toolchain but it hasn't been very tested.

## Expected results

LiteX has good support for the IceStorm work flow and ICE40 based development boards. At least the LM32 and RISC-V

[2017-03-01 06:02] mithro opened #41 "[LiteX] QEmu simulation of a LiteX generated SoC"
# [LiteX] QEmu simulation of a LiteX generated SoC

More technical details at [Issue #86: Get lm32 firmware running under qemu to enable testing without hardware on HDMI2USB-misoc-firmware repo](https://github.com/timvideos/HDMI2USB-misoc-firmware/issues/86)

# Brief explanation

Currently to do firmware development you need access to FPGA hardware. Using QEmu it should be possible to enable devel

[2017-03-09 02:39] mithro opened #42 "[LiteX] Port NuttX to LiteX generated SoC & replace HDMI2USB bare metal firmware"
# [LiteX] Port NuttX to LiteX generated SoC & replace HDMI2USB bare metal firmware

More technical details at [Link to bug in the ](http://github.com/timvideos/{{reference.repo}}/issues/{{reference.number}})

# Brief explanation

The HDMI2USB project uses "bare metal" firmware running on a soft CPU inside the FPGA. We would like to replace this code with something running on a proper operating sys

[2017-03-30 05:31] mithro commented on #34
@ssk1328 worked on this project as part of GSoC 2016. You can find the progress reports at https://shashankgangrade.wordpress.com/category/weekly-report/ and the final report at https://shashankgangrade.wordpress.com/gsoc-final/

More work is needed to make his foundational work for doing the mixing to be usable for end users.

[2017-05-03 11:15] Silipwn commented on #7
I would like to work on this issue, but I am relatively new to VHDL and Migen. Any tips to follow?

[2017-05-04 04:50] mithro commented on #7
We already have someone who is about to work on the USB side of things, so I would recommend concentrating on the HDMI side.

Firstly, I would start by watching my [Dissecting HDMI (33c3)](https://www.youtube.com/watch?v=yqYBcZzMPGQ). Then I would recommend taking a look at some of Hamster's stuff at http://hamsterworks.co.nz/mediawiki/index.php/Minimal_HDMI

Once you are happy with the ideas / co

[2017-05-06 16:00] Silipwn commented on #7
I would be working on the same, but please excuse me for my delay, I am just getting started with HDL and Migen & MiSoC are new concepts, so taking some time before I can really contribute something.

[2017-05-07 07:25] mithro commented on #7
As mentioned, doing small extensions / improvements to my TMDS repository is a great way to get started!

[2017-06-16 23:45] chexov commented on #2
I am interested in paying somebody who can bring this extension board to finished PCB.
The goal is to get Video, Audio and KLV data out from SDI. Please ping me if you are interested.

[2017-06-17 00:58] mithro commented on #2
We are currently applying to the German prototype fund to get a FOSS SDI
core and the expansion board developed.

On 17 Jun. 2017 9:45 am, "Anton P. Linevich" <notifications@github.com>
wrote:

[2017-09-10 06:07] mithro opened #43 "Add support to pep8 / pylint for the "MiSoC / LiteX" formatting style & new specific checks"
# Brief explanation

Migen / LiteX doesn't quite follow pep8 / pylint for good reasons. Extend pep8 and/or pylint to understand when it should allow violations. Extra additional checks for good Migen / LiteX style should also be added.

## Expected results

Running `pep8-migen` on Migen / LiteX HDL code does the following;
 * Checks all Python code that *isn't* Migen / LiteX complies with [pep8 st

[2017-09-10 06:13] mithro commented on #43
TODO: Find a good pylint configuration for Migen / LiteX? Maybe @m-labs has one?

[2017-09-10 16:51] enjoy-digital commented on #43
The main contributors of migen/misoc are not using the following rules:
- Missing Comma on final element in list / dictionary
- Using line continuation rather than list

I see why you want that (to ease future changes in the code), but this should be an advice and probably not a rule. Some (as me) can found code easier to read without this so would avoid comma where not really needed or allow use

[2017-09-18 23:43] cr1901 commented on #40
I'm the one who actually wrote the toolchain file for IceStorm. What would you like added :)?

[2017-09-24 23:25] mithro commented on #40
I think the steps would be;

 - [x] Get yosys + IceStorm toolchain into [our conda repo](https://github.com/timvideos/conda-hdmi2usb-packages)
 - [ ] Add popular ICE40 boards into LiteX
 - [x] Get simple `BaseSoC` using lm32 booting on the Ice40 boards.
 - [x] Get SPI flash working (enable BIOS + firmware running from SPI flash)
 - [x] Look at getting MicroPython running on the boards.
 - [ ] Have

[2017-09-25 14:17] Dr4s1l commented on #40
Any improvment about micropython integration and LiteX compatibility?

[2017-09-29 09:06] John-K commented on #41
Just dropping a note so that people know a good amount of work on this has been done in [qemu-litex](https://github.com/timvideos/qemu-litex/)

[2017-09-29 10:23] John-K commented on #30
Just dropping a note so that people know a good amount of work on this has been done in [linux-lm32](https://github.com/shenki/linux-lm32)

[2017-12-08 23:56] wcmckee opened #44 "Hdmi2UsbAPI"
# [{{reference.repo}} #{{reference.number}}] {{title}}

More technical details at [Link to bug in the ](http://github.com/timvideos/{{reference.repo}}/issues/{{reference.number}})

# Brief explanation

A short description of what the thing you want to do.

## Expected results

What the expected outcome from the project should be.

# Detailed Explanation

A much longer description of what the thing

[2017-12-09 06:05] wcmckee commented on #44
just close this, was a mistake sorry.

[2017-12-09 07:32] #44 closed

[2018-02-12 17:16] mithro commented on #2
@felixheld - FYI

[2018-02-12 17:17] mithro commented on #2
@felixheld is working on a FOSS SDI video core here -> https://github.com/felixheld/photonSDI

<blockquote><img src="https://avatars2.githubusercontent.com/u/1683603?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/felixheld/photonSDI">felixheld/photonSDI</a></strong></div><div>Contribute

[2018-02-12 17:28] mithro opened #45 "[SymbiFlow] Add support for Spartan 6 parts"
# [SymbiFlow #10] Add support for Spartan 6 parts

More technical details at [SymbiFlow Idea #10](https://github.com/SymbiFlow/ideas/issues/10)

# Brief explanation

Spartan 6 is a hugely popular part which would be awesome to have support for in open source FPGA toolchain - SymbiFlow

## Expected results

 * Documentation of the bitstream for Spartan 6 parts.
 * Support for using Spartan 6 in the

[2018-02-13 05:37] futaris commented on #36
https://twitter.com/q3k/status/955492603235053568
https://twitter.com/RohitK_Singh/status/955596375063801856

<blockquote><img src="https://pbs.twimg.com/media/DUKXadyWsAA5Viq.jpg:large" width="48" align="right"><div>Twitter</div><div><strong><a href="https://twitter.com/q3k/status/955492603235053568">Serge Bazanski on Twitter</a></strong></div><div>“#PicoRV32 with #LiteX now boots to BIOS (after

[2018-02-13 06:03] futaris commented on #30
http://j.mp/pre-fpga-lca2018

Linux isn't possible on lm32, due to bitrot. However we have it booting on or1k. 10/100 Ethernet is also working as of Jan 2018. See above instructions.

<blockquote><img src="https://lh5.googleusercontent.com/9bSZD5jzAMZI5OSPbYchhwa10YoyqHlY3sVFfRc6xaCv-lUgzqPVllHLVRfTbldmFfJcEQ=w1200-h630-p" width="48" align="right"><div>Google Docs</div><div><strong><a href="https:

[2018-02-13 10:02] akhil-123 commented on #38
I would like to work on this project. Any tips to follow?

[2018-02-13 18:54] mithro commented on #36
@futaris - Yeap!

Need to get the toolchain into conda and it would also be good to get [VexRiscv](https://github.com/SpinalHDL/VexRiscv) imported for when you need a full RISC-V core.

[2018-02-13 23:17] futaris commented on #24
A newer version (LK373A) which uses h.264 came out in 2017:

https://blog.danman.eu/new-version-of-lenkeng-hdmi-over-ip-extender-lkv373a/

[2018-02-14 14:16] ottingerg opened #46 "[VideoBrick] capture HDMI video and audio at multiple resolutions"
# [VideoBrick] capture HDMI video and audio at multiple resolutions

More technical details at [Link to bug in the ](http://github.com/timvideos/{{reference.repo}}/issues/{{reference.number}})

# Brief explanation

VideoBrick is an ongoing OSHW project aiming to provide an HDMI-Input interface to a small SBC called Olimex LIME/LIME2 (which is a OSHW project itself). It is designed as a daughter bo

[2018-02-16 23:27] CarlFK commented on #41
mithro (IRC):  some basic stuff can now be done without FPGA hardware.

[2018-02-18 23:09] CarlFK commented on #22
Ansible and systemd have mostly made this no longer an issue.

[2018-02-18 23:09] #22 closed

[2018-02-28 19:59] adarsh1001 commented on #31
I believe this particular problem was addressed in last year's GSoC also. How much work is left?

[2018-02-28 21:05] mithro commented on #31
@ishan98 was working on it last year. You can find a lot of his work here -> https://github.com/ishan98/litejpeg

<blockquote><img src="https://avatars1.githubusercontent.com/u/15844693?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/ishan98/litejpeg">ishan98/litejpeg</a></strong></div><

[2018-03-01 23:04] CarlFK commented on #25
This is mostly complete:
https://salsa.debian.org/debconf-video-team/ansible

It lacks a few of the described features, but I think those should be logged as bugs against the respective projects.

It doesn't have the build a farm of VMs tests, but I think that's ok.  you can use qemu to test nodes, and some of the key pieces need real hardware to really test (hdmi2usb, usb audio.)

<blockquote><im

[2018-03-06 17:58] akhil-123 commented on #7
A proposal for this particular problem was written for GSoC 2014. How much work is left?

[2018-03-06 19:33] thisisayush commented on #19
Hi,
I am a B.Tech CSE 2nd Year Student from Amity University, Noida and would like to take this issue for GSoC 2018. I have been working on Python for a year and have made several dynamic projects on Flask/Django and Static projects using StaticJinja.
@mithro If you could guide me towards the pre-requisites before submitting the proposal, it'll be really helpful.

[2018-03-06 20:49] mithro commented on #7
@paddatrapper - Can you give an update on the status here?

[2018-03-07 07:37] paddatrapper commented on #7
@akhil-123, I did some work on the USB audio side of things during last year's GSOC, the result of which can be seen in PR [HDMI2USB-fx2-firmware/#43](https://github.com/timvideos/HDMI2USB-fx2-firmware/pull/43) and various commits to master. The USB headers are implemented and the FX2 chip can act as either a recording or an output device. I am working (read getting stuck) on getting two FX2 dev b

[2018-03-10 04:07] mattookashyap commented on #32
I had some questions about the firmware design and where does the HDMI to Ethernet data converter fit in the hardware architecture of the HDMI2USB design.

[2018-03-17 08:24] anant3110 commented on #38
I want to work on this issue. I might have access to a vertex 7 board from my institute. Would that work?

[2018-04-04 18:58] CarlFK commented on #19
This is the version used for LCA 2018
https://github.com/joeladdison/streaming-ui

I think that repo should be added to the timvideos org

<blockquote><img src="https://avatars3.githubusercontent.com/u/664978?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> GitHub</div><div><strong><a href="https://github.com/joeladdison/streaming-ui">joela

[2018-10-16 04:14] mithro commented on #36
This is done now!

[2018-10-16 04:14] #36 closed

[2018-10-16 04:15] mithro commented on #40
@cr1901 Is working on this....

[2018-10-16 04:15] mithro commented on #40
I'm also working on using Yosys as a frontend to Vivado here - https://github.com/enjoy-digital/litex/pull/114

[2018-12-28 07:25] Arna-Maity commented on #7
Hi, i am to new to this project and would like to know present state of the project? How much is already done and how much is left?

[2018-12-28 08:34] paddatrapper commented on #7
@Arna-Maity - nothing has really changed. The PR and commits to HDMI2USB-fx2-firmware master in 2017 are the current state of this issue

[2019-02-10 05:26] CarlFK opened #48 "Real HDMI support in HDMI2USB"
Currently the HDMI2USB only does DVI.  Devices that only output HDMI don't work.

Add support for HDMI.

[2019-02-10 05:31] mithro commented on #48
@CarlFK This needs a lot more detail. See the template.

[2019-02-10 05:38] CarlFK opened #49 "[HDMI2USB] HDMI Audio to HDMI Audio"
Currently HDMI2USB doesn't read incoming audio data.
#7 is about sending it to a usb audio device.

This would send audio to the hdmi sinks.

[2019-02-10 06:56] CarlFK opened #50 "[HDMI2USB] Make the HDMI2Eth target fully functional"
The HDMI2Eth target doesn't really work yet, to make it work it would need to...
See https://github.com/timvideos/HDMI2USB-litex-firmware/issues/224

[2019-02-10 07:38] CarlFK opened #51 "Configuration area in opsis flash (so that it can save config)."
config settings are lost when the unit is power cycled.

[2019-03-16 11:36] shivmgg commented on #39
If interested, please take a look at:
https://gsoc2018timvideos.wordpress.com/2018/08/09/gsoc18-final-submission-report/

<blockquote><img src="https://opensocdebug.readthedocs.io/en/latest/_images/debug_module_cdm_overview.svg" width="48" align="right"><div><img src="https://s1.wp.com/i/favicon.ico" height="14"> GSoC-2018</div><div><strong><a href="https://gsoc2018timvideos.wordpress.com/2018/08/

[2019-06-05 10:52] fallen commented on #30
Also, I might add that current lm32 Linux port, whatever its bitrot state, isn't using the MMU. It's uCLinux (noMMU).
MMU is experimental also.

[2019-07-29 12:24] mithro commented on #40
This has been done!

[2019-07-29 12:24] #40 closed

[2019-10-29 20:37] mithro opened #52 "Testing"
# [{{reference.repo}} #{{reference.number}}] {{title}}

More technical details at [Link to bug in the ](http://github.com/timvideos/{{reference.repo}}/issues/{{reference.number}})

# Brief explanation

A short description of what the thing you want to do.

## Expected results

What the expected outcome from the project should be.

# Detailed Explanation

A much longer description of what the thing

[2019-10-29 20:38] mithro commented on #52
Adding comment....

[2019-10-29 20:44] #52 closed, assigned to nobody

[2019-11-05 09:58] fanoush commented on #45
There is also the amazingly cheap Pano Logic G2 (and G1 with Spartan 3E)

BTW there is interesting paper https://pdfs.semanticscholar.org/64c7/a8f1dc7b513aca6eea387d9c319c0b358506.pdf (3rd hit for https://www.google.com/search?q=open+source+bitstream+xilinx) that discusses methods of merging pregenerated combinations of basic bitstream files to get desired functionality. Using the method to genera

[2021-02-08 16:03] DaAwesomeP commented on #45
@mithro would you mind updating the Knowledge Prerequisites section? I would like to help out if I may, but I am really unsure what I would be able to contribute without knowing the tasks required (or what I need to learn).